<div id="map-background"></div>

<div class="top-bar">
  <p id="logo">Air-Quality-Alert.net</p>
  <a id ="header-question" href="/">What is my air quality?</a>
  <%= link_to "Cancel Alert", alert_index_path, id: "cancel-button" %>
    <div id="helpful-flash" class="flash-message">
      <h2 id="flash-text">Please enter a valid 5 digit zipcode</h2>
    </div>
    <div id="helpful-phone-flash" class="flash-message">
      <h2 id="flash-text">Please enter a 10 valid digit phone number containing only numbers</h2>
    </div>
    <% if flash.any?%>
      <div id="generic-flash" class="flash-message">
        <h2 id="flash-text"> <%= flash["success"] %> </h2>
      </div>
    <% end %>
</div>

<div id="zipcode-form">
    <%= text_field_tag 'zipcode', nil, placeholder: 'Enter Zipcode', id: 'zipcode-input', onfocus: "this.placeholder = ''", onBlur: "this.placeholder = 'Enter Zipcode'", autocomplete:"off" %> <br>
    <%= submit_tag "Get Air Quality", id:'submit-button', type:'button' %>
</div>

<aside class="results-box">
    <span id="image-span"></span>
    <div id="result-text">
      <p>The Air Quality in  <span class="text-emphasis" id="city-country"> </span> is
        <span class="text-emphasis" id="rating"> </span></p>
    </div>
    <div id="call-box">
      <p id="sales-copy">Get FREE Updates When The Air Quality In Your Area Reaches <span id="dangerous"> Dangerous  </span> Levels</p>
      <p id="call-to-action"> Text me at <span id="phone"></span> if the air quality in <span id='city-zip'></span> is <span id="drp-btn"></span> <span id="sbmt-text-info"> </span></p>
    </div>
</aside>

<script>

  $('.results-box').hide();
  $('#helpful-flash').hide();
  $('#helpful-phone-flash').hide();
  $('#generic-flash').hide();

  show_generic_flash();
  function show_generic_flash() {
    $('#generic-flash').slideDown("slow").fadeOut(5000);
  }

  var updatedBefore = false;

  function updatePageStyle() {
    $('#cancel-button').fadeOut(200);
    $('#map-background').css("height", "40%");
    $('.results-box').slideToggle();
    $('#zipcode-form').css({"width":"100%","margin-top":"5em","margin-left":"","margin-right":"", "text-align":""});
    $('#zipcode-input').css({"width":"50%","float":"left", "margin-left": "10%", "margin-top": "5%"});
    $('#submit-button').css({"margin-top":"","margin-right":"15%","float":"right"});
  }

  function recenterMap() {
    map.setCenter({lat: 47.45, lng: -122.3321});
  }

  $('#phone').append(
    $('<input/>').attr("placeholder", "555-555-5555").attr("id", "phone-input")
  )

  $('#drp-btn').append(
    $('<select>').append(
      $("<option>").text("Good"),
      $("<option>").text("Moderate"),
      $("<option>").text("Unhealthy For Sensitive Groups"),
      $("<option>").text("Unhealthy").attr('selected', true),
      $("<option>").text("Very Unhealthy"),
      $("<option>").text("Hazardous")
    )
  )

  $('#sbmt-text-info').append(
    $('<button>').html('Submit')
  )

  function get_smiley_path(rating) {
    var imageStore = {"Good": "good.png", "Moderate": "moderate.png",
                      "Unhealthy for Sensitive Groups": "sensitive.png", "Unhealthy": 'unhealthy.png',
                      "Very Unhealthy": "very_unhealthy.png", "Hazardous": "hazardous.png"}
    return imageStore[rating];
  }

  function highlightFlash() {
    $('.results-box').addClass('backgroundColorFlash')
    setTimeout(function () {
      $('.results-box').removeClass('backgroundColorFlash');
    }, 380);
  }

  $('#sbmt-text-info').click(function(){
    var alertAQI = $('#drp-btn option:selected').text()
    var phoneNumber = $('#phone-input').val()
    var zipcode = $("#city-zip").html()
    if (phoneNumber.length != 10) {
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
    } else {
      $.ajax({
        type: "POST",
        url: "/alert",
        data: {"zipcode": zipcode, "phone": phoneNumber, "alert_level": alertAQI, "active": true },
        dataType: "json",
        success: function(result) {
          var path = 'http://localhost:3000/alert/' + result["id"]
          // var path = 'https://air-quality-alert.herokuapp.com/alert/' + result["id"]
          window.location = path
        },
        error: function(data){
          $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
        }
      });
    }
  })

  $('#submit-button').click(function(){
    var zipcode = $('#zipcode-input').serializeArray()[0]["value"];
    if (zipcode.length != 5) {
      $('#helpful-flash').slideDown("slow").fadeOut(5000);
    } else {
      submitFormData(zipcode);
    }
  });

  function submitFormData(zipcode) {
    $.ajax({
      type: "POST",
      url: "/airquality",
      data: {"zipcode": zipcode},
      dataType: "json",
      success: function(result) {
        if (updatedBefore) { highlightFlash(); }
        $('#city-country').text(`${result["city"]}, ${result["country"]}`);
        $('#city-zip').text(`${result["zipcode"]}`);
        $('#rating').text(result["rating"]);
        $('#image-span').empty().append( `<img id='emoji-image' src='/assets/${get_smiley_path(result["rating"])}' >`)
        if (updatedBefore) { } else {
          recenterMap();
          updatePageStyle();
          updatedBefore = true;
        }
      },
      error: function(data){
        $('#helpful-flash').slideDown("slow").fadeOut(5000);
    }
    });
  }

  $('#zipcode-form').keyup(function(){
    checkInput("#zipcode-input", 5, '#helpful-flash')
  });

  $('#phone-input').keyup(function(){
    checkInput("#phone-input", 10, '#helpful-phone-flash')
  });

</script>
