<div id="map-background"></div>

<div class="top-bar">
  <p id="logo">Air-Quality-Alert.net</p>
  <p id="header-question">What is my air quality?</p>
  <div id="helpful-flash">
    <h2 id="flash-text">Please enter a valid 5 digit zipcode</h2>
  </div>
  <div id="helpful-phone-flash">
    <h2 id="phone-flash-text">Please enter a 10 digit phone number containing only numbers</h2>
  </div>
</div>

<div id="zipcode-form">
    <%= text_field_tag 'zipcode', nil, placeholder: 'Enter Zipcode', id: 'zipcode-input', onfocus: "this.placeholder = ''", onBlur: "this.placeholder = 'Enter Zipcode'", autocomplete:"off" %> <br>
    <%= submit_tag "Get Air Quality", id:'submit-button', type:'button' %>
</div>

<!-- <div class="results-box">
</div> -->
<aside class="results-box">
  <span id="image-span"></span>
  <%#= image_tag "/assets/" + @weatherpoint.get_smiley_path, id:"emoji-image"%>
  <div id="result-text">
    <p>The Air Quality in  <span class="text-emphasis" id="city-country"> </span> is
      <span class="text-emphasis" id="rating"> </span></p>
  </div>
    <%#= image_tag 'good1.png', id: "emoji-mage"%>

  <div id="call-box">
    <p id="sales-copy">Get FREE Updates When The Air Quality In Your Area Reaches <span id="dangerous"> Dangerous  </span> Levels</p>

    <p id="call-to-action"> Text me at <span id="phone"></span> if the air quality in <span id='city-zip'></span> is <span id="drp-btn"></span> <span id="sbmt-text-info"> </span></p>

  </div>
</aside>

<script>
var map;
  function initMap() {

    var styledMapType = new google.maps.StyledMapType(
      [
{
"featureType": "administrative.land_parcel",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "administrative.neighborhood",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "poi",
"elementType": "labels.text",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "poi.business",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "poi.park",
"elementType": "labels.text",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "road",
"elementType": "labels",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "road.arterial",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "road.highway",
"elementType": "labels",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "road.local",
"stylers": [
{
  "visibility": "off"
}
]
},
{
"featureType": "water",
"elementType": "labels.text",
"stylers": [
{
  "visibility": "off"
}
]
}
],
        {name: 'Styled Map'});

    map = new google.maps.Map(document.getElementById('map-background'), {
      center: {lat: 47.6062, lng: -122.3321},
      streetViewControl: false,
      scaleControl: false,
      draggable: false,
      zoomControl: false,
      zoom: 10,
      mapTypeControlOptions: {
        mapTypeIds: []
      }
    });
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');
  }

  $('.results-box').hide();
  $('#helpful-flash').hide();
  $('#helpful-phone-flash').hide();

  $('#submit-button').click(function(){
    var zipcode = $('#zipcode-input').serializeArray()[0]["value"];
    if (zipcode.length != 5) {
      $('#helpful-flash').slideDown("slow").fadeOut(5000);
    } else {
      submitFormData(zipcode);
    }
  });

  function recenterMap() {
    map.setCenter({lat: 47.45, lng: -122.3321});
  }

  function updatePageStyle() {
    $('#map-background').css("height", "40%");
    $('.results-box').slideToggle();
    $('#zipcode-form').css({"width":"100%","margin-top":"5em","margin-left":"","margin-right":"", "text-align":""});
    $('#zipcode-input').css({"width":"50%","float":"left", "margin-left": "10%", "margin-top": "5%"});
    $('#submit-button').css({"margin-top":"","margin-right":"15%","float":"right"});
  }

  var updatedBefore = false;
  //
  // function submitFormData(zipcode) {
  //   $.ajax({
  //     type: "POST",
  //     url: "/airquality",
  //     data: {"zipcode": zipcode},
  //     dataType: "json",
  //     success: function(result) {
  //       $('#city-country').text(`${result["city"]}, ${result["country"]}`);
  //       $('#city-zip').text(`${result["zipcode"]}`);
  //       $('#rating').text(result["rating"]);
  //       debugger;
  //       $('#image-span').append(
  //         "<img id='emoji-image' src='/assets/' + get_smiley_path()>"
  //       )
  //       if (updatedBefore) {
  //
  //       } else {
  //         recenterMap();
  //         updatePageStyle();
  //         updatedBefore = true;
  //       }
  //       // applyEmoji();
  //     }
  //   });
  // }

  $('#phone').append(
    $('<input/>').attr("placeholder", "555-555-5555").attr("id", "phone-input")
  )

  $('#drp-btn').append(
    $('<select>').append(
      $("<option>").text("Good"),
      $("<option>").text("Moderate"),
      $("<option>").text("Unhealthy For Sensitive Groups"),
      $("<option>").text("Unhealthy").attr('selected', true),
      $("<option>").text("Very Unhealthy"),
      $("<option>").text("Hazardous")
    )
  )

  $('#sbmt-text-info').append(
    $('<button>').html('Submit')
  )

  $('#sbmt-text-info').click(function(){
    var alertAQI = $('#drp-btn option:selected').text()
    var phoneNumber = $('#phone-input').val()
    var zipcode = $("#city-zip").html()

    $.ajax({
      type: "POST",
      url: "/alert",
      data: {"zipcode": zipcode, "phone": phoneNumber, "alert_level": alertAQI, "active": true },
      dataType: "json",
      success: function(result) {
        var path = 'http://localhost:3000/alert/' + result["id"]
        window.location = path
      }
    });
  })

  function submitFormData(zipcode) {
    $.ajax({
      type: "POST",
      url: "/airquality",
      data: {"zipcode": zipcode},
      dataType: "json",
      success: function(result) {
        $('#city-country').text(`${result["city"]}, ${result["country"]}`);
        $('#city-zip').text(`${result["zipcode"]}`);
        $('#rating').text(result["rating"]);

        $('#image-span').empty().append(
          `<img id='emoji-image' src='/assets/${get_smiley_path(result["rating"])}' >`
        )
        if (updatedBefore) {
        } else {
          recenterMap();
          updatePageStyle();
          updatedBefore = true;
        }
        // applyEmoji();
      }
    });
  }

  function get_smiley_path(rating) {
    var imageStore = {"Good": "good.png", "Moderate": "moderate.png",
                      "Unhealthy for Sensitive Groups": "sensitive.png", "Unhealthy": 'unhealthy.png',
                      "Very Unhealthy": "very_unhealthy.png", "Hazardous": "hazardous.png"}
    return imageStore[rating];
  }


  $('#zipcode-form').keyup(function(){
    var regex = /[0-9]|\./;
    var inputVal = $('#zipcode-input').val()
    var inputLength = inputVal.length;
    var keyPressed = event.keyCode

    if (!regex.test(event.key) && keyPressed != 8 && keyPressed != 13 && keyPressed != 46 && keyPressed != 13) {
      $('#zipcode-input').val(inputVal.slice(0, -1));
      $('#helpful-flash').slideDown("slow").fadeOut(5000);
      return false
    } else if (inputLength > 5) {
      $('#helpful-flash').slideDown("slow").fadeOut(5000);
      $('#zipcode-input').val(inputVal.slice(0, -1));
      return false
    }
  });

  $('#phone-input').keyup(function(){
    var regex = /[0-9]|\./;
    var inputVal = $('#phone-input').val()
    var inputLength = inputVal.length;
    var keyPressed = event.keyCode

    if (!regex.test(event.key) && keyPressed != 8 && keyPressed != 13 && keyPressed != 46 && keyPressed != 13) {
      $('#phone-input').val(inputVal.slice(0, -1));
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
      return false
    } else if (inputLength > 10) {
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
      $('#phone-input').val(inputVal.slice(0, -1));
      return false
    }
  });

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjydTLy1DwBK6nEEeVhmzhGnyAcTUnMoY&callback=initMap">
</script>
