<h1>Air Quality Show Page</h1>

<h3>The Air Quality in <%= @weatherpoint.city %>,
  <span> <%= @weatherpoint.country %> </span> is
  <span><%= @weatherpoint.rating %> </span></h3>

<%= @weatherpoint.aqi %> <br>
