<div id="map-background"></div>


<div class="top-bar">
  <p id="logo">Air-Quality-Alert.net</p>
  <a id ="header-question" href="/">What is my air quality?</a>
  <div id="helpful-phone-flash" class="flash-message">
    <h2 id="phone-flash-text">Please enter a 10 digit phone number containing only numbers</h2>
  </div>
  <div class="flash-message" id="no-alerts-flash">
    <h2 id="phone-flash-text">No alerts found for <span id="alert-number"></span></h2>
  </div>
  <div id="success-flash" class="flash-message">
    <h2 id="flash-text"> Successfully canceled alert! </h2>
  </div>
</div>


<div id="alert-box">
  <h1>Enter your phone number to find all your alerts</h1>
  <div id="phone-form">
    <%= text_field_tag 'Phone', nil, placeholder: 'Enter Phone', id: 'find-phone-input', onfocus: "this.placeholder = ''", onBlur: "this.placeholder = 'Enter Phone'", autocomplete:"off" %> <br>
    <%= submit_tag "Find My Alerts", id:'submit-button', type:'button' %>
  </div>
</div>

<div id="your-alerts">
  <h1 class="font-style">Here are the alerts we found for <span id="your-phone"></span></h1>
  <div id="the-alerts">
  </div>
</div>

<script>
  $('#your-alerts').hide();
  $('#helpful-phone-flash').hide();
  $('#no-alerts-flash').hide();
  $('#success-flash').hide();

  $('#find-phone-input').keyup(function(){
    var regex = /[0-9]|\./;
    var inputVal = $('#find-phone-input').val()
    var inputLength = inputVal.length;
    var keyPressed = event.keyCode

    if (!regex.test(event.key) && keyPressed != 8 && keyPressed != 13 && keyPressed != 46 && keyPressed != 13) {
      $('#find-phone-input').val(inputVal.slice(0, -1));
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
      return false
    } else if (inputLength > 10) {
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
      $('#find-phone-input').val(inputVal.slice(0, -1));
      return false
    }
  });

  $('#submit-button').click(function(){
    var number = $('#find-phone-input').serializeArray()[0]["value"];
    if (number.length != 10) {
      $('#helpful-phone-flash').slideDown("slow").fadeOut(5000);
    } else {
      submitFormData(number, "NOT-re-render");
    }
  });

  function submitFormData(number, sentFrom) {
    $.ajax({
      type: "GET",
      url: "/youralerts",
      data: {"number": number},
      dataType: "json",
      success: function(result) {
        if (result.length == 0) {
          $('#alert-number').text(number.substring(0,3) + "-" + number.substring(3,6) + "-" + number.substring(6,10));
          $('#no-alerts-flash').slideDown("slow").fadeOut(5000);
        } else {
          showResults(result, number, sentFrom);
        }
      }
    });
  }

  autoSeachNumber();
  function autoSeachNumber() {
    var phone = window.location.search.split('?')[1] ? window.location.search.split('=')[1] : 0;
    if (phone != 0) {
      submitFormData(phone, "re-render")
      $('#success-flash').slideDown("slow").fadeOut(5000);
    }
  }

  function changeStyles(phoneNumber) {
    $('#alert-box').hide();
    recenterMap();
    $('#map-background').css("height", "20%");
    $('#your-alerts').slideToggle()

    $('#your-phone').text(phoneNumber.substring(0,3) + "-" + phoneNumber.substring(3,6) + "-" + phoneNumber.substring(6,10));
  }

  function subtleChangeStyles(phoneNumber) {
    $('#alert-box').hide();
    recenterMap();
    $('#map-background').css("height", "20%");
    $('#your-alerts').show()

    $('#your-phone').text(phoneNumber.substring(0,3) + "-" + phoneNumber.substring(3,6) + "-" + phoneNumber.substring(6,10));
  }

  function recenterMap() {
    map.setCenter({lat: 47.45, lng: -122.3321});
  }

  function showResults(result, phoneNumber, sentFrom){
    if (sentFrom == "re-render") {
      subtleChangeStyles(phoneNumber);
    } else {
      changeStyles(phoneNumber);
    }

    for (var i = 0; i < result.length; i++) {
      var myAuthToken = "<%= form_authenticity_token %>"
      var delete_button = `<form class="button_to" method="post" action="/alert/${result[i].id}"><input type="hidden" name="_method" value="delete"><input id="cancel-service" class="margin-bottom-10" type="submit" value="Cancel Alert"> <input type="hidden" name="authenticity_token" value="${myAuthToken}"> </form>`
      $("#the-alerts").append(`<h2 class="font-style">Alert ${i+1}: Alert when air quality is <span class="mild-emphasis">${result[i].air_index.index}</span> in <span class="mild-emphasis">${result[i].zipcode}</span> <span id="delete-form"> ${delete_button} </span> <h2>`);
    }
  }

</script>
