<aside class="q-question">
  <h3>Have a question for me?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis totam distinctio molestiae exercitationem impedit ut libero. Sit accusamus consectetur distinctio nesciunt quae nobis consequatur facere.</p>
  <form>
    <textarea name="" font-weight="200" id="" cols="30" rows="7"></textarea>
  </form>
</aside>

<button class="clickr">Ask A Question</button>

<script type="text/javascript">
  $('.q-question').hide();

  $('.clickr').click(function(){
    $('.q-question').slideToggle();
  });
</script>
