<div id="map-background"></div>

<div class="top-bar">
  <p id="logo">Air-Quality-Alert.net</p>
  <p id="header-question">What is my air quality?</p>
</div>

<div id="zipcode-form">
  <%= form_tag("/airquality", method: "post") do %>
    <%= text_field_tag 'zipcode', nil, placeholder: 'Enter Zipcode', id: 'zipcode-input', onfocus: "this.placeholder = ''", onBlur: "this.placeholder = 'Enter Zipcode'" %> <br>
    <%= submit_tag "Get Air Quality", id:'submit-button' %>
  <% end %>
</div>

<script>

  function initMap() {
    var latlong = {lat: 47.6062, lng: -122.3321};
    var map = new google.maps.Map(document.getElementById('map-background'), {
      zoom: 10,
      center: latlong,
      streetViewControl: false,
      scaleControl: false,
      draggable: false,
      zoomControl: false
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjydTLy1DwBK6nEEeVhmzhGnyAcTUnMoY&callback=initMap">
</script>
