<!DOCTYPE html>
<html>
  <head>
    <title>AirQualityAlert</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>


  <script>
  var map;
    function initMap() {

      var styledMapType = new google.maps.StyledMapType(
        [
  {
  "featureType": "administrative.land_parcel",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "administrative.neighborhood",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "poi",
  "elementType": "labels.text",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "poi.business",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "poi.park",
  "elementType": "labels.text",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "road",
  "elementType": "labels",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "road.arterial",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "road.highway",
  "elementType": "labels",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "road.local",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  },
  {
  "featureType": "water",
  "elementType": "labels.text",
  "stylers": [
  {
    "visibility": "off"
  }
  ]
  }
  ],
          {name: 'Styled Map'});

      map = new google.maps.Map(document.getElementById('map-background'), {
        center: {lat: 47.6062, lng: -122.3321},
        streetViewControl: false,
        scaleControl: false,
        draggable: false,
        zoomControl: false,
        zoom: 10,
        mapTypeControlOptions: {
          mapTypeIds: []
        }
      });
      map.mapTypes.set('styled_map', styledMapType);
      map.setMapTypeId('styled_map');
    }


  function checkInput(buttonClicked, properInputLength, flashMessage) {
    var regex = /[0-9]|\./;
    var inputVal = $(buttonClicked).val()
    var inputLength = inputVal.length;
    var keyPressed = event.keyCode

    if (!regex.test(event.key) && keyPressed != 8 && keyPressed != 13 && keyPressed != 46 && keyPressed != 13) {
      $(buttonClicked).val(inputVal.slice(0, -1));
      $(flashMessage).slideDown("slow").fadeOut(5000);
      return false
    } else if (inputLength > properInputLength) {
      $(flashMessage).slideDown("slow").fadeOut(5000);
      $(buttonClicked).val(inputVal.slice(0, -1));
      return false
    }
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjydTLy1DwBK6nEEeVhmzhGnyAcTUnMoY&callback=initMap">
</script>
</html>
